<ion-header>
	<ion-toolbar class="tool-header">
    <ion-buttons>
      <ion-button slot="start" href="../profile">
      	<ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title *ngIf="estabelecimento; else titleTemplate">{{ estabelecimento.nome }}</ion-title>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ng-template #titleTemplate>
	<ion-title>
		<ion-skeleton-text animated class="loading-large"></ion-skeleton-text>
	</ion-title>
</ng-template>

<ion-content>
	<div *ngIf="estabelecimento && !edit">
		<div class="container">
			<div>
				<img class="imagem-estabelecimento" [src]="estabelecimento?.imageUrl">
			</div>
			
			<ul class="informacoes">
				<li class="label">Funcionamento</li>
				<li class="label2">
						<span *ngFor="let dia of estabelecimento.diasDeFuncionamento">{{ dia }},
						</span>
						{{ estabelecimento.horario }}
				</li>
					
				<li class="label">Endereço</li>
				<li class="label2">
					{{ estabelecimento.endereco.cidade.nome }},
					{{ estabelecimento.endereco.bairro }}
					{{ estabelecimento.endereco.logradouro }}
					<ng-conatiner *ngIf="estabelecimento.endereco.complemento">
						{{ estabelecimento.endereco.complemento }},
					</ng-conatiner>
					numero {{ estabelecimento.endereco.numero }},
					cep {{ estabelecimento.endereco.cep }}
				</li>

				<li class="label">Telefones para contato</li>
				<li class="label2" *ngFor="let tel of estabelecimento.telefones">{{ tel }}</li>
				<li class="label">Site</li>
				<li class="label2">{{ estabelecimento.site }}</li>
				<li class="label">Instagram</li>
				<li class="label2">{{ estabelecimento.instagram }}</li>
				<li class="label">Facebook</li>
				<li class="label2">{{ estabelecimento.facebook }}</li>
				<li class="label" *ngIf="estabelecimento.produtos">Produtos</li>
			</ul>
			<div class="produtos">
				  <ion-slides [options]="sliderOpts">
					<ion-slide *ngFor="let categoria of produtoServicos">
					  <img [src]="categoria?.imageUrl">
					</ion-slide>
				  </ion-slides>
				  
			</div>
			<ion-button class="botao-util" color="secondary">
				Novo Produto
				<ion-icon slot="end" name="add"></ion-icon>
			</ion-button>
			<ion-button class="botao-util" color="primary" (click)="editar()" large>Editar</ion-button>
			<ion-button class="botao-util" color="danger" lrge>Deletar</ion-button>
			<br>
		
		</div>
		
	</div>

	<!-- div de edição -->
	<div *ngIf="estabelecimento && edit">
		<div class="container">
			<div>
				<img class="imagem-estabelecimento" [src]="estabelecimento?.imageUrl">
			</div>
		
			<div class="image-buttons">
        
        <ion-button class="midia-button">
          <ion-icon class="icon-button font-s" name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button class="midia-button mg-l">
          <ion-icon class="icon-button font-s" name="camera"></ion-icon>
        </ion-button>
      </div>
      <ul class="informacoes">
      	<li class="label">Nome</li>
      	<li class="label2">
      		<ion-input [(ngModel)]="estabelecimento.nome" inputmode="text" autofocus></ion-input>
      	</li>
				<li class="label">Funcionamento</li>
				<li class="label2">
					<ion-input [(ngModel)]="estabelecimento.horario" inputmode="text" autofocus></ion-input>
				</li>
					
				<li class="label">Endereço</li>
				<li class="label">Telefones</li>
				<li class="label">Site</li>
				<li class="label2">
					<ion-input [(ngModel)]="estabelecimento.site" inputmode="text"></ion-input>
				</li>
				<li class="label">Instagram</li>
				<li class="label2">
					<ion-input [(ngModel)]="estabelecimento.instagram" inputmode="text"></ion-input>
				</li>
				<li class="label">Facebook</li>
				<li class="label2">
					<ion-input [(ngModel)]="estabelecimento.facebook" inputmode="text"></ion-input>
				</li>
			</ul>
			<br>
			<ion-button color="secondary" (click)="confirmarEdicao()">Salvar</ion-button>
      <ion-button color="danger" (click)="cancelarEdicao()">Cancelar</ion-button>
		</div>

	</div>

	<div *ngIf="!estabelecimento">
		<div class="container">

			<div>
				<img class="imagem-estabelecimento" src="/assets/img/sem_foto.png">
			</div>

			<ul class="informacoes">
				<li class="label">Funcionamento</li>
				<li>
					<ion-skeleton-text animated class="loading-large"></ion-skeleton-text>
				</li>
				<li class="label">Endereço</li>
				<li>
					<ion-skeleton-text animated class="loading-large"></ion-skeleton-text>
				</li>

				<li class="label">Telefones para contato</li>
				<li>
					<ion-skeleton-text animated class="loading-small"></ion-skeleton-text>
				</li>
				<li class="label">Site</li>
				<li>
					<ion-skeleton-text animated class="loading-small"></ion-skeleton-text>
				</li>
				<li class="label">Instagram</li>
				<li>
					<ion-skeleton-text animated class="loading-medium"></ion-skeleton-text>
				</li>
				<li class="label">Facebook</li>
				<li>
					<ion-skeleton-text animated class="loading-medium"></ion-skeleton-text>
				</li>
				<li><span class="label">Produtos</span></li>
			</ul>
			<br>
		</div>
	</div>

</ion-content>

