
.tool-header{
	--background: #a6ce39ff;
	ion-button{
		color: white;
	}
	ion-title{
		color: white;
		font-size: 28px;
	}
}

ion-content{
    --background: white;
}

.container{
	padding-top: 10px;
	margin-left: 13%;
	width: 74%;
	height: 100%;

}

.imagem-estabelecimento{
	width: 100%;
	height: 30%;
	border-radius: 10px;
	margin-bottom: 5px;
}

.image-buttons{
	width: 200px;
	height: inherit;
	margin-left: 12.4%;

}

.midia-button{
	--background: #fff;
	--border-style: none;
	--box-shadow: none; 
	width: 60px;
	height: 60px;
	--border-radius: 30px;
	--color: #212020;
}

.icon-button{
	font-size: 22px;
}
.estabelecimento-nome{
	font-size: 30px;
	color: #8c0043ff;
}

// informações
.informacoes{
	width: 100%;
	height: auto;
	list-style-type: none;
	padding: 0px;
	margin: 0px;

}

.label{
	
	width: 100%;
	height: inherit;
	background-color: #white;
	color: black;
	font-size: 18px;
	margin-top: 10px;
	
}

.label2{
	width: 100%;
	height: inherit;
	background-color: white;
	color: #8c0043ff;
	font-size: 18px;

}

.produtos{

    ion-slides{
        
        margin-bottom: 20px;
        margin-top: 5px;
  
        ion-slide{
        	border:1px rgba(00, 00, 00, 0.5); 
        	border-radius: 20px;
        	margin-left: 5px;
        }

    }
}

.botao-util{
	width: 100%;
}


/* loadings das informacoes */

.loading{
	border-radius: 6px;
	height: 20px;
}

.loading-large{
	@extend .loading;
	width: 80%;
}
.loading-medium{
	@extend .loading;
	width: 60%;
}
.loading-small{
	@extend .loading;
	width: 48%;
}

// inputs de edicao

ion-input{
	--padding-top: 0px;
	--padding-bottom: 0px;
}

.mg-l{
	margin-left: 74px;
}

.mg-label{
	margin-left: 10px;
}

.sparator{
	border-bottom: 1px solid rgba(22,22,22,0.7);
	padding-bottom: 5px;
}

ion-select{
    background-color: #ddd;
    opacity: 0.5;
    color: black;
    font-size: large;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.editarEndereco{
	width: 100%;
	--background: #ddd;
	--color: #333;
	--border-radius: 2px;
}

