.tool-header{
	--background: #a6ce39ff;
	ion-button{
		color: white;
	}
	ion-title{
		color: white;
		font-size: 28px;
	}
}
.container{
	padding-top: 10px;
	margin-left: 13%;
	width: 74%;
	height: 100%;

}

.botao-recuperar{
	width: 100%;
}