.topo{
    width: 100%;
    position:fixed;
    top: 0;
    color:black;
    background-color: #a6ce39ff;
    background-size: contain;
    z-index: 2;
    ion-searchbar{
        --icon-color: #800;
        --placeholder-color: #800;	
        --placeholder-font-style:  ;
        --border-radius: 10px;
    }
}
.categorias{
    margin-top: 24%;
    ion-slides{
        margin-bottom: 8px;

    }
    ion-slide{
        margin-right: 10px;
        width: 50px;
    }
}
ion-grid{
  --ion-grid-padding: 0px;
  --ion-grid-column-padding:0px;
}


.categoria-img{
    max-width: 60px;
    max-height: 60px;
}

.label-row{
   font-size: 1rem;
}

.categoria-label{
  position: relative;
  margin-top: 5px;
  font-size: 12px;
}

.categoria-chip{
    font-size: medium;
   
}
.titulo2{
    margin-top: 16%;
    margin-left: 14px;
    color:#8c0043ff;
    z-index: 2;
}
