.tool-header{
	--background: #a6ce39ff;
	ion-button{
		color: white;
	}
	ion-title{
		color: white;
		font-size: 28px;
	}
}
.container{
	padding-top: 10px;
	margin-left: 13%;
	width: 74%;
	height: 100%;

}


.image-content{
	width: 200px;
	height: 200px;
	margin-left: 12.4%;
	border-radius: 100px;

	border-style: none;
}
.imagem-usuario{
	width: 200px;
	height: 200px;
	//margin-left: 12.4%;
	border-radius: 100px;
	margin-bottom: 5px;
}

// edicao
.edit-button{
	margin-left: 23.7%;
	--background: white;
	--border-width: 0px;
	--padding-start: 3px;
	--padding-end: 5px;
	--box-shadow: none;
	font-size: small;
	--color: #b0b0b0;
	width: 140px;
	height: 30px

}

.buttons{
	width: 200px;
	height: inherit;
	margin-left: 12.4%;
}

.midia-button{
	--background: #fff;
	--border-style: none;
	--box-shadow: none; 
	width: 60px;
	--color: #000;
}

.icon-button{
	font-size: 22px;
}

ion-input{
	--padding-top: 0px;
	--padding-bottom: 0px;
}

// 
.informacoes{
	width: 100%;
	height: auto;
	list-style-type: none;
	padding: 0px;
	margin: 0px;

}

.label{
	
	width: 100%;
	height: inherit;
	background-color: white;
	color: black;
	font-size: 18px;
	margin-top: 10px;
	
}
.label2{
	width: 100%;
	height: inherit;
	background-color: white;
	color: #8c0043ff;
	font-size: 18px;
	

}
.add{
	color: #b0b0b0;
}

// classes para ajustes
.mg-l{
	margin-left: 74px;
}
.pad-l{
	padding-left: 10px;
}
.font-s{
	font-size: 26px;
}
//


.loading-large{
	width: 80%;
	border-radius: 6px;
	height: 20px;
}
ion-item{
	--color: #8c0043ff;
	--inner-padding-start: 0px;
	
}

.delete-account{
	width: 100%;
	margin-bottom: 20px;
}