.tool-header{
	--background: #a6ce39ff;
	ion-button{
		color: white;
	}
	ion-title{
		color: white;
		font-size: 28px;
	}
}
.container{
	padding-top: 10px;
	margin-left: 13%;
	width: 74%;
	height: 100%;

}

.imagem-estabelecimento{
	width: 100%;
	height: 30%;
	border-radius: 10px;
	margin-bottom: 5px;
}


.estabelecimento-nome{
	font-size: 30px;
	color: #8c0043ff;
}

// informações
.informacoes{
	width: 100%;
	height: auto;
	list-style-type: none;
	padding: 0px;
	margin: 0px;

}

.label{
	
	width: 100%;
	height: inherit;
	background-color: white;
	color: black;
	font-size: 22px;
	margin-top: 10px;
	
}

.label2{
	width: 100%;
	height: inherit;
	background-color: white;
	color: #8c0043ff;
	font-size: 21px;

}

.produtos{

    ion-slides{
        
        margin-bottom: 20px;
        margin-top: 5px;
  
        ion-slide{
        	border:1px rgba(00, 00, 00, 0.5); 
        	border-radius: 20px;
        	margin-left: 5px;
        }

    }
}



/* loadings das informacoes */

.loading{
	border-radius: 10px;
	height: 30px;
}

.loading-large{
	@extend .loading;
	width: 80%;
}
.loading-medium{
	@extend .loading;
	width: 60%;
}
.loading-small{
	@extend .loading;
	width: 48%;
}