.tool-header {
	--background: #a6ce39ff;
	ion-button {
		color: white;
	}
	ion-title {
		color: white;
		font-size: 28px;
	}
}
.container {
	padding-top: 10px;
	margin-left: 13%;
	width: 74%;
	height: 100%;
}

.imagem-estabelecimento {
	width: 100%;
	height: 30%;
	border-radius: 10px;
	margin-bottom: 5px;
}

.estabelecimento-nome {
	font-size: 30px;
	color: #8c0043ff;
}

// informações
.informacoes {
	width: 100%;
	height: auto;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.label {
	width: 100%;
	height: inherit;
	background-color: white;
	color: black;
	font-size: 22px;
	margin-top: 10px;
}

.label2 {
	width: 100%;
	height: inherit;
	background-color: white;
	color: #8c0043ff;
	font-size: 21px;
}

.label3 {
	width: 100%;
	height: inherit;
	background-color: white;
	color: black;
	font-size: 80%;
}
.produto {
	width: 15%;
}
.produtos {
	ion-slides {
		margin-bottom: 20px;
		margin-top: 5px;

		ion-slide {
			border: 1px rgba(00, 00, 00, 0.5);
			border-radius: 20px;
			margin-right: 4px;
		}
	}
}

.prodImage {
	width: 100%;
	border-radius: 5px 5px 0 0;
	margin-bottom: -15%;
}
.card {
	width: calc(100% - 9px);
	height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 5px;
}
/* loadings das informacoes */

.loading {
	border-radius: 6px;
	height: 20px;
}

.loading-large {
	@extend .loading;
	width: 80%;
}
.loading-medium {
	@extend .loading;
	width: 60%;
}
.loading-small {
	@extend .loading;
	width: 48%;
}
