<ion-header>
	<ion-toolbar class="tool-header">
    <ion-buttons>
      <ion-button slot="start" href="./tabs/tab1">
      	<ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title *ngIf="estabelecimento; else titleTemplate">{{ estabelecimento.nome }}</ion-title>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ng-template #titleTemplate>
	<ion-title>
		<ion-skeleton-text animated class="loading-large"></ion-skeleton-text>
	</ion-title>
</ng-template>

<ion-content>
	<ng-container *ngIf="estabelecimento; else loading">
		<div class="container">
			<div>
				<img class="imagem-estabelecimento" [src]="estabelecimento?.imageUrl">
			</div>

			<ul class="informacoes">
				<li class="label">Funcionamento</li>
				<li class="label2">
						<span *ngFor="let dia of estabelecimento.diasDeFuncionamento">{{ dia }},
						</span>
						{{ estabelecimento.horario }}
				</li>
					
				<li class="label">Endereço</li>
				<li class="label2">
					{{ estabelecimento.endereco.cidade.nome }},
					{{ estabelecimento.endereco.bairro }}
					{{ estabelecimento.endereco.logradouro }}
					<ng-conatiner *ngIf="estabelecimento.endereco.complemento">
						{{ estabelecimento.endereco.complemento }},
					</ng-conatiner>
					numero {{ estabelecimento.endereco.numero }},
					cep {{ estabelecimento.endereco.cep }}
				</li>

				<li class="label">Telefones para contato</li>
				<li class="label2" *ngFor="let tel of estabelecimento.telefones">{{ tel }}</li>
				<li class="label">Instagram</li>
				<li class="label2">{{ estabelecimento.instagram }}</li>
				<li class="label">Facebook</li>
				<li class="label2">{{ estabelecimento.facebook }}</li>
				<li class="label">Produtos</li>
			</ul>
			<div class="produtos">
				  <ion-slides [options]="sliderOpts">
					<ion-slide *ngFor="let categoria of produtoServicos">
					  <img [src]="categoria?.imageUrl">
					</ion-slide>
				  </ion-slides>
		</div>

		</div>
		
	</ng-container>

	<ng-template #loading>
		<div class="container">

			<div>
				<img class="imagem-estabelecimento" src="/assets/img/sem_foto.png">
			</div>

			<ul class="informacoes">
				<li class="label">Funcionamento</li>
				<li>
					<ion-skeleton-text animated class="loading-large"></ion-skeleton-text>
				</li>
				<li class="label">Endereço</li>
				<li>
					<ion-skeleton-text animated class="loading-large"></ion-skeleton-text>
				</li>

				<li class="label">Telefones para contato</li>
				<li>
					<ion-skeleton-text animated class="loading-small"></ion-skeleton-text>
				</li>
				<li class="label">Instagram</li>
				<li>
					<ion-skeleton-text animated class="loading-medium"></ion-skeleton-text>
				</li>
				<li class="label">Facebook</li>
				<li>
					<ion-skeleton-text animated class="loading-medium"></ion-skeleton-text>
				</li>
				<li><span class="label">Produtos</span></li>
			</ul>
			
		</div>
	</ng-template>

</ion-content>

